body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/ducks.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

nav.tabs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav.tabs a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

nav.tabs a:hover,
nav.tabs a:focus {
    border-bottom: 2px solid #3498db;
}

.tab-content {
    display: none;
}

.tab-content h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

#logout-button button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    cursor: pointer;
    justify-content: right;
}
