.question-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

.answer-input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    box-sizing: border-box;
}
h2 {
    color: red;
    font-weight: bold;
}

.timer {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 10px;
}