<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignments</title>
    <link rel="stylesheet" href="../static/css/assignments.css">
    <script src="../static/js/assignments.js" defer></script>
</head>
<body>
<h1>Available Assignments</h1>
<button type="button" class="back" onclick="backToProfile()">Back to Profile</button>
<ul id="testList"></ul>

<div id="assignContent" style="display:none;">
    <h2>Assignment Content</h2>
    <div id="questionsList"></div>
</div>

</body>
</html>