<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational platform</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/index.js" defer></script>
</head>
<body>

<header>
    <h1>Educational platform</h1>
</header>

<div id="logout-button">
    <button id="logoutBtn">Logout</button>
</div>

<section>
    <nav class="tabs">
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="#materials">Study materials</a></li>
            <li><a href="#events">Events</a></li>
        </ul>
    </nav>

    <div id="profile" class="tab-content">
        <h2>Profile</h2>
    </div>

    <div id="materials" class="tab-content">
        <h2>Study materials</h2>
    </div>
    <div id="tests" class="tab-content">
        <h2>Tests</h2>
    </div>
    <div id="events" class="tab-content">
        <h2>Event</h2>
    </div>
</section>
<footer>
    &copy; 2024 Educational platform
</footer>

</body>
</html>