<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Questions</title>
  <link rel="stylesheet" href="../static/css/questions.css">
  <script src="../static/js/questions.js" defer></script>
</head>
<body>

<header>
  <h1>Test Questions</h1>
</header>
<div id="timer"></div>
<h2 id="message"> If you exit or update the test prematurely, the test will be passed automatically!!!</h2>
<section id="questions-section">
</section>

<button id="submit-test-btn">Submit Test</button>

</body>
</html>
