<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/registration.js" defer></script>
</head>
<body>

<div class="login-container">
    <h2>Registration</h2>
    <form class="registration-form" id="registrationForm">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="firstname">Firstname:</label>
            <input type="text" id="firstname" name="firstname" required>
        </div>
        <div class="form-group">
            <label for="lastname">Lastname:</label>
            <input type="text" id="lastname" name="lastname" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="type">Type user:</label>
            <select id="type" name="type" required>
                <option value="STUDENT">STUDENT</option>
                <option value="TEACHER">TEACHER</option>
            </select>
        </div>

        <div class="form-group">
            <button type="button" onclick="submitRegistrationForm()">Registration</button>
        </div>
    </form>

    <div class="login-link">
        <p>Already Register? <a href="/login">Login</a></p>
    </div>
</div>
